<form
  class="container p-2 bg-dark d-flex align-content-center justify-content-center"
  style="margin: 2px auto"
  (submit)="addTodo($event)"
>
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="title"
        (input)="updateTodoTitle($event)"
      />
    </div>

    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="description"
        (input)="updateTodoText($event)"
      />
    </div>
    <div class="col d-flex align-content-center justify-content-center p-1">
      <input
        type="checkbox"
        class="form-check-input m-1"
        name="done"
        id="done"
        value="done"
        (change)="updateTodoStatus($event)"
      />
      <label for="done" class="text-light"> completed</label>
    </div>

    <div class="col m-1">
      <input type="submit" value="submit" class="btn btn-success" />
    </div>
  </div>
</form>
